@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");

@font-face {
  font-family: "Agraham";
  src: url("/fonts/Agraham.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-agraham {
  font-family: "Agraham", "Cinzel", serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30%);
  }
}
.animate-scroll {
  display: flex;
  animation: scroll 20s linear infinite;
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  display: flex;
  width: max-content;
  animation: infinite-scroll 40s linear infinite;
}
